body {
    background-color: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
}
.phrase-div div {
    font-size: 2.5rem;
}
#phraseGenerator,
.phrase-div span {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
a {
    transition:all 0.5s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}

.nav {
    font-weight: 600;
}

.first-nav-div {
    font-size: 1.5rem;
}
  
.second-nav-div {
    font-size: 1rem;
}


.white-text {
    color: #fff;
}

.green-text {
    color: #24b67e;
}


nav {
    padding-top: 1.563rem;
    padding-bottom: 15px;
}

.white-bg {
    box-shadow: 0 6px 9px 0px #a5a5a5;
}

.white-underlined {
    padding-bottom: 0.5rem;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
}
.white-curPage {
    padding-bottom: 0.5rem;
    text-decoration: none;
    background-image: linear-gradient(#fff, #fff);
    background-size: 53% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
}
.white-curPage {
    padding-bottom: 0.5rem;
    text-decoration: none;
    background-image: linear-gradient(#24b67e, #24b67e);
    background-size: 53% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
}
.underlined:hover,
.underlined:focus,
.underlined:active {
    background-size: 53% 0.2em;
}